<div class="tenat-payment">
	<div align="center">
		<h3 class="uppercase">My Payments</h3>
	</div>
	<div align="center">
		<a href="" class="btn">Unpaid Dues</a>
		<a href="" class="btn">Already Paid</a>
	</div>
	<div>
		<table class="table table-responsive">
			<tr>
				<td>Due Date</td>
				<td>Reason</td>
				<td>Reciept</td>
				<td>Amount Due</td>
				<td></td>
			</tr>
			<tr>
			<td>20/04/2016</td>
			<td></td>
			<td><a href="">Get Reciept</a></td>
			<td>0</td>
			<td colspan="2"><a href="">Pay Now</a></td>
			</tr>

		</table>
		<h4>Total Amount to Pay: ₹ <span>0</span></h4>

	</div>
</div>
