<div style="padding:5px;">
	<div>
	<h6 class="uppercase">House ruls</h6>
	<ul>
		<li class="upeercase lead">Seven Commandments</li>
		<li>1. You shall take care of the home as your own</li>
		<li>2. You shall look after you roommates like a family</li>
		<li>3. You shall be good to neighbours & not wake them up midnight</li>
		<li>4. You shall not host guests of opposite gender beyond 7 PM</li>
		<li>5. You shall invite us on your birthday</li>
		<li>6. You shall party hard but clean up afterwards</li>
		<li>7. You shall introduce your roommates to The Big Bang Theory</li>
	</ul>
	</div>
</div>