<div class="container-fluid" id="house-reviews" style="margin:10px;">
	<h4 class="uppercase">Reviews</h4>
	<div class="well">
		<ul>
			<li>
			<% @review.each do |review|%>
				<div class="row">
					
					<div class="col-xs-3">
						<% tenant = TenantProfile.where(tenant_id: review.tenant_id).first %>
						<%= image_tag tenant.image.url(:thumb)%>
					</div>
					<div class="col-xs-9">
						<p><%= review.message %></p>
					</div>
					
				</div>
				<% end %>
			</li>
		</ul>
	</div>
</div>