<div class="container-fluid" id="house-reviews" style="margin:10px;">
	<h4 class="uppercase">Reviews</h4>
	<div class="well">
		<ul>
			<li>
				<div class="row">
					<% @review.each do |review|%>
					<div class="col-xs-3">
						
					</div>
					<div class="col-xs-9">
						<p><%= review.message %></p>
					</div>
					<% end %>
				</div>
			</li>
		</ul>
	</div>
</div>