<div class="container-fluid" id="house-reviews" style="margin:10px;">
	<h4 class="uppercase">Reviews</h4>
	<div class="well">
		<ul>
			<li>
				<div class="row">
					<div class="col-xs-3">
						<%= image_tag 'cover11.jpg'%>
					</div>
					<div class="col-xs-9">
						<p>Awsome house.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>