
<div class="owner-my-house" align="center">
	<div align="center">
		<h3 class="uppercase">My Payments</h3>
	</div>
	
	<div>
		<table class="table table-responsive">
			<tr>
				<td>House</td>
				<td>Month</td>
				<td>Amount</td>
				<td>Dues</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>January</td>
				<td>5000</td>
				<td>0</td>
			
			</tr>

		</table>
		<h4>Total Amount Dues: ₹ <span>0</span></h4>

	</div>
</div>
