<section class="pt0 ">
  <div class="owner-my-house">
    <h3 class="uppercase">Credits</h3>
  <table class="table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      
      <tr>
        <td>Date</td>
        <td>Amount</td>
        <td><a href="#"> Show </a></td>
      </tr>
     
    </tbody>
  </table>

  <br>
  </div>
</section>