<h1>Tenant Profile</h1>
<%# if !current_user.tenant_profile.valid? %>
<p class="alert alert-warning">
	Your profile is incomplete. Please fill out more of your

	<%= link_to 'Update Profile',  edit_tenant_tenant_tenant_profile_path(tenant_id: current_user.id, id: current_user.tenant_profile.id)%>
	
</p>
<%#end%>
<section class="custom-section">
	<div class="container">
		<h3>Tenants#profile</h3>
		<div class="col-sm-6">
			
		</div>
		<div class="col-sm-6">
			<%= link_to 'Update Profile',  edit_tenant_tenant_tenant_profile_path(tenant_id: current_user.id, id: current_user.tenant_profile.id)%>
		</div>
	</div>	
</section>