<section class="reset-password-section">
	<div class="container">
		<div class= "col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
			<div class="feature bordered">
				<h5 class="text-center color-white uppercase">Forgot your password?</h5>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

		<div class="field">
			<%= f.email_field :email, autofocus: true,placeholder:'Your Email Id', required:'true' %>
		</div>

		<div>
			<%= f.submit "reset password" %>
		</div>
		<% end %>
			</div>

	</div>
	</div>
</section>
<%#= render "devise/shared/links" %>
