 <div class="container">
        <div class="row v-align-children">
            <div class="col-sm-6 col-md-5">
                <h2 class="uppercase color-primary">The Perfect Place To Call Home</h2>
                <hr>
                <p>
                    When you're looking for rentals, it helps to know where to start. You're in luck. GoogleHomes has the rentals you're looking for and all the tools you need to find them. Search for your next apartments, condo, or house on GoogleHomes and get moving.
                </p>
            </div>
            <div class="col-sm-6 col-md-offset-1 p0">
                <div class="col-sm-6 text-center">
                    <div class="feature bordered mb30">
                        <h1 class="large uppercase">3</h1>
                        <h5 class="uppercase">Cities</h5>
                    </div>
                </div>
                <!--end 6 col-->
                <div class="col-sm-6 text-center">
                    <div class="feature bordered mb30">
                        <h1 class="large">50+</h1>
                        <h5 class="uppercase">House owners</h5>
                    </div>
                </div>
                <!--end 6 col-->
                <div class="col-sm-6 text-center">
                    <div class="feature bordered mb30">
                        <h1 class="large">80+</h1>
                        <h5 class="uppercase">Houses</h5>
                    </div>
                </div>
                <!--end 6 col-->
                <div class="col-sm-6 text-center">
                    <div class="feature bordered mb30">
                        <h1 class="large">150+</h1>
                        <h5 class="uppercase">Tenants</h5>
                    </div>
                </div>
                <!--end 6 col-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->