<div class="col-sm-6 text-center p0 border-thick">
    <div class="image-tile hover-tile text-center mb0">
      <%= image_tag "phot2.jpg", class:"background-image", alt:"image" %>
      <div class="hover-state">
        <a href="#">
          <h3 class="uppercase mb8">Tenant</h3>
          <h6 class="uppercase">See Collection</h6>
        </a>
      </div>
    </div>
    <!--end of hover tile-->
  </div>
  <div class="col-sm-6 text-center p0 border-thick">
    <div class="image-tile hover-tile text-center mb0">
      <%= image_tag "phot2.jpg", class:"background-image", alt:"image" %>
      <div class="hover-state">
        <a href="#">
          <h3 class="uppercase mb8">House Owner</h3>
          <h6 class="uppercase">See Collection</h6>
        </a>
      </div>
    </div>
    <!--end of hover tile-->
  </div>