<div class="col-sm-6 text-center p0 border-thick">
    <div class="image-tile hover-tile text-center mb0">
      <%= image_tag "GHimages/teenage-boy.jpg", class:"background-image feature-image", alt:"Tenant" %>
      <div class="hover-state">
        <a href="#">
          <h3 class="uppercase mb8">Tenant</h3>
          <h6 class="uppercase">Read More</h6>
        </a>
      </div>
    </div>
    <!--end of hover tile-->
  </div>
  <div class="col-sm-6 text-center p0 border-thick">
    <div class="image-tile hover-tile text-center mb0">
      <%= image_tag "GHimages/owner.jpg", class:"background-image feature-image", alt:"House Owner" %>
      <div class="hover-state">
        <a href="#">
          <h3 class="uppercase mb8">House Owner</h3>
          <h6 class="uppercase">Read More</h6>
        </a>
      </div>
    </div>
    <!--end of hover tile-->
  </div>
  <style type="text/css">
  .feature-image{width: 100%; max-height: 350px;}
  </style>