<div class="background-image-holder fadeIn tenant-review" style="background-color: transparent; background-repeat: repeat; background-attachment: scroll; background-position: initial; background-clip: border-box; background-origin: padding-box; background-size: auto auto; ">
  </div>
  <div class="container">
    <div class="row v-align-children">
      <div class="col-sm-8 mb-xs-80">
        <h2 class="mb16">Meet GoogleHomes Tenants
          <br class="hidden-sm"> Ravi Singh, Indore</h2>
        <h6 class="uppercase mb32"></h6>
        <%= link_to "Browse Houses", search_index_path(city: "Indore"),class:"btn btn-filled btn-lg mb0"%>
      </div>
      <div class="col-sm-4 text-center text-left-xs">
        <div class="modal-container">
          <div class="play-button btn-modal large inline" modal-link="0"></div>
          <div class="foundry_modal no-bg">
            <iframe data-autoplay="1" data-video-id="88883554" data-provider="vimeo" data-src="http://player.vimeo.com/video/88883554?badge=0&amp;title=0&amp;byline=0&amp;title=0&amp;autoplay=1"></iframe>
          </div>
        </div>
        <!--end of modal video-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->