<div class="row">
  <div class="col-sm-6">
    <div>
      <%= image_tag 'home1.jpg'%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <div>
        <%= image_tag 'home2.jpg'%>
        </div>
      </div>
      <div class="col-sm-12">
        <div>
          <%= image_tag 'home3.jpg'%>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="text-center pt8">
    <a href="home/home" class="btn"> View Detail</a>
  </div>