<div class="container">
  <div class="row mb64 mb-xs-24">
    <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
      <h3>Why singles love <strong>GoogleHomes</strong></h3>
    </div>
  </div>
  <!--end of row-->
  <div class="row masonry masonryFlyIn fadeIn" style="position: relative; height: 575px;">
    <div class="col-md-4 col-sm-12 masonry-item mb30 fadeIn" style="position: absolute; left: 0px; top: 0px;">
      <div class="feature boxed cast-shadow-light mb0 text-center">
        <%= image_tag 'icon/credit_card.png',width:'70',height:'70' %>
        <h6 class="uppercase color-primary">Hassle free renting</h6>
        <p>
          Timely &amp; Online
        </p>
      </div>
    </div>
    <div class="col-md-4 masonry-item mb30 fadeIn text-center" style="position: absolute; left: 390px; top: 0px;">
      <div class="boxed feature cast-shadow-light mb0">
        <%= image_tag 'icon/trolley.png',width:'70',height:'70' %>
        <h6 class="uppercase color-primary">Ready to movein homes</h6>
        <p>
        All anemities as per your requirements!
        </p>
      </div>
    </div>
    <div class="col-md-4 masonry-item mb30 fadeIn text-center" style="position: absolute; left: 780px; top: 0px;">
      <div class="boxed feature cast-shadow-light mb0">
        <%= image_tag 'icon/house.png',width:'70',height:'70' %>
        <h6 class="uppercase color-primary">Veriety of houses</h6>
        <p>
          Veriety of houses that Suits Yourself
        </p>
      </div>
    </div>      
  </div>
  <!--end of row-->
</div>
<!--end of container-->
