<section id="tenant_banner" class="pt0 image-bg parallax">
	<div align="center" class="container-fluid">
		<h1 class="pt160">Live more, together.</h1>
		<%= link_to 'Browse houses', '#',class:"btn btn-lg btn-browse-house" %>
	<div style="max-width:750px; margin:auto;">
		<p class="pt20">TipHive turns your team, university, school, class or club into a vibrant, smart, and productive collaborative community.Hives let you instantly share, find, organize and collaborate around content that matters. </p>
	</div>
	<h4 class="mt40">See how Ravi uses GoogleHomes to get perfect home</h4>
	<div class="icon-down-big">
	  <p style="font-size: 52px;"><a href="#tenant_booking"><i class="ti-arrow-circle-down"></i></a></p>
	</div>
	</div>
</section>

<section id="tenant_booking" class="pt0 bg-secondary">
	<div class="container-fluid">
		<h4 class="pt20"style="max-width:750px;">Ravi and his friends are planning to rent a apartment  and are using GoogleHomes to find a perfect house.
 </h4>
	</div>	
</section>
<section id="tenant_ds" class="pt0">
	
</section>
<section id="tenant_sds" class="pt0">
	
</section>