
<div class="col-sm-12">
  <h4>Basic</h4>

  <div class="row">
    <div class="col-sm-6">
      <p class="lead">
        Fill your basic details
      </p>
      <div class="input-with-label text-left">
        <span>First Name</span>
        <input type="text">
      </div>
      <div class="input-with-label text-left">
        <span>Last name</span>
        <input type="text">
      </div>
      <div class="row">
        <h5 class="uppercase">Sex</h5>
        <div class="col-sm-6">
          <div class="radio-option checked">
            <div class="inner"></div>
            <input name="radio" value="Male" type="radio">
          </div>
          <span class="after-radio">Male</span>
        </div>
        <div class="col-sm-6">
          <div class="radio-option">
            <div class="inner"></div>
            <input name="radio" value="Female" type="radio">
          </div>
          <span class="after-radio">Female</span>
        </div>
      </div>
      <div class="input-with-label text-left">
        <span>Permanent Address</span>
        <textarea placeholder="Permanent Address" rows="3"></textarea>
      </div>      
    </div>
    <div class="col-sm-6">
      <h4 class="uppercase mb16">Option Inputs</h4>
       <div class="select-option">
        <i class="ti-angle-down"></i>
        <select>
          <option selected="" value="Default">Select An Option</option>
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Larger">Large</option>
        </select>
      </div>
      <!--end select-->
      <form class="mb24">
        <span>Would you like to Susbscribe googleHomes newsletters</span>
        <div class="checkbox-option pull-right">
          <div class="inner"></div>
          <input name="checkbox" value="Checkbox" type="checkbox">
        </div>
      </form>
      <hr>
      
      <input value="Submit Button" type="submit">
    </div>
  </div>

