<div class="tenat-house">
	<div align="center">
		<h3 class="uppercase">My House</h3>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<%=image_tag "vent5.jpg", class:"img-responsive",height:'250',width:'100%'%>
		</div>	
		<div class="col-sm-8">
			<h4>House Details</h4>
		</div>
	</div>
</div>