<div class="tenat-house">
	<div align="center">
		<h3 class="uppercase">My House</h3>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<%=image_tag @house.house_image.first.url(:thumb), class:"img-responsive"%>
		</div>	
		<div class="col-sm-8">
			<h5><%= @house.name %></h5>
			<h5><%= @house.location %></h5>
		</div>
	</div>
</div>