<div class="tenat-payment">
	<div align="center">
		<h3 class="uppercase">My Payments</h3>
	</div>
	<div align="center">
		<a href="" class="btn">Unpaid Dues</a>
		<a href="" class="btn">Already Paid</a>
	</div>
	<div>
		<table class="table table-responsive">
			<tr>
				<td>Month</td>
				<td>Date</td>
				<td>Amount</td>
				<td>Reciept</td>
			</tr>
			<% @rent.each do |rent| %>
			<tr>
			<td><%= rent.month %></td>
			<td><%= rent.rent_date %></td>
			<td><%= rent.rent_amount%></td>
			<td><a href="">Get Reciept</a></td>
			</tr>
			<% end %>
		</table>
		<h4>Total Amount to Pay: ₹ <span>0</span></h4>

	</div>
</div>
