<section class="custom-section">
	<div class="container">
		<div class="dashboard-header">
			<div class="row">
				<div class="col-sm-3">
					<%=image_tag @tenant_profile.image.url, class:"img-responsive",height:'200',width:'100%'%>
				</div>
				<div class="col-sm-9">
					<h3>STILL PAYING YOUR RENT?</h3>
					<p> Share your Referral Code <span style="color:#47b475;">CWWIYG </span> with your friends. If your friend uses your referral code while booking, you get 7 days of stay absolutely FREE! And your friend gets 7 days.
						If you help us fill the last bed in your house, you get a flat Rs 5,000 OFF your next month’s rent. </p>
					</div>
				</div>
			</div>	
		</div>			
		</br>
		<div class="row container">
			<div class="col-sm-3 sidebar-left-custom">
				<div class="widget">
					<h6 class="title">Blog Categories</h6>
					<hr>
					<ul class="link-list uppercase">
						<li>
							<div class="li-dashboard"><%= link_to "My house",  myhouse_tenant_tenants_path, remote: "true"%></div>
						</li>						
						<li>
							<li> 
								<div class="li-dashboard"><%= link_to "My Payments",  payments_tenant_tenants_path, remote: "true"%></div> 							
							</li>
						</li>
						<li>
							<div class="li-dashboard"><span>My wishlists</span></div>
						</li>
						<li>
							<div class="li-dashboard "><span>My credits</span></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9" id="tenant-dashboard-section">
				<%= render 'myhouse'%>
			</div>
		</div>		
	</div>	
</div>
</section>