/*********Main **********/
.custom-section{padding-top: 30px !important;}


/*****************INDEX-PAGE****************/
#input-location i{position: absolute;margin-left: 5px;font-size: 16px;color: #747171;margin-top: 17px;}
.tenant-review{background-image: url("event1.jpg") !important;}
.landing-div{background-image: url("home13.jpg") !important;}
/*****************SignIn-Page****************/
.login-landing{background-image: url("home12.jpg") !important; padding-top: 48px;}


/*****************SignUp-Page****************/

/*Houses*/
#map{height: 500px; border: #000 solid 1px;}


/******Profile Page*******/
/*.bg-custom{background-image: url("") !important;}*/
.after-radio{position: absolute;margin-left: 10px;}
