/*********Main **********/

.custom-section{padding-top: 30px !important;}
.btn-custom{width:25% !important;}
.bd{margin-top:20px;}
#flash_error,#flash_notice,#flash_alert{ font-size:16px; font-weight:700; text-align:center;}
#flash_alert,#flash_error{color:red;}
#error_explanation h2{font-size:14px;}
@media(min-width:768px){
#input-location,.city-select,.gender-select,.search-house-submit-btn
    {
        padding-left: 0;
        padding-right: 1px;
    }
}
@media(max-width:767px){
    #input-location,.city-select,.gender-select,.search-house-submit-btn
    {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
#input-location i{position: absolute;margin-left: 5px;font-size: 16px;color: #747171;margin-top: 17px;}
.tenant-review{background: asset_url("event1.jpg") !important;}
.top-section{background: asset_url("GHimages/interior-painting.jpg");background-repeat: no-repeat;
background-size: cover !important;background-attachment: scroll !important;background-position: center center !important;}
.home-owner-top{background: asset_url("GHimages/home_owner.jpg");}
.home-owner-top-header
{
	
	background-color: rgba(2, 21, 33, 0.5);
    padding: 20px;
}
.home-owner-top-header p {line-height: 1.42857143; color: #fff;}


.modal-content {
 border-radius:0px;
}



/*****************SignIn-Page****************/
.login-landing{background: asset_url("home12.jpg") !important; padding-top: 48px;}
.reset-password-section{background-color: #35373f;}

/*****************SignUp-Page****************/

#new_house_owner input[type="text"],#new_house_owner input[type="password"],#new_house_owner input[type="email"],#new_house_owner input[type="file"],#new_house_owner input[type="number"] {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px #eee solid;
    border-radius: 0;
    font-weight: 500;
    height: 40px ;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}
#new_tenant input[type="text"],#new_tenant input[type="password"],#new_tenant input[type="email"],#new_tenant input[type="file"],#new_tenant input[type="number"] {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px #eee solid;
    border-radius: 0;
    font-weight: 500;
    height: 40px ;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}

/*Houses*/
.house-form input[type="text"],.house-form  input[type="email"],.house-form  input[type="file"],.house-form  input[type="number"],.house-form #house_food_preference , #house-form #house_house_type,#house-form #house_city, #house-form .house_house_for
{
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px #eee solid;
    border-radius: 0;
    font-weight: 500;
    height: 40px ;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}
.house-form .select-option 
{height: 40px ;}
#map{height: 500px; border: #ccc solid 1px;}
#house-on-map{border: #ccc solid 1px;}

.slider-size
{
    max-height: 480px;
    min-height: 400px;width:100%;
}
.carousel {
    
    text-align: center;
    margin:0 auto; /* center your carousel if other than 100% */ 
}

.nav-offer {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
}
.nav-offer li 
{
    border:1px #ccc solid;
    max-width:100%;
    min-width:115px;
    text-align:center;
}
.house-details-right{border:1px #ccc solid;padding:8px;}
.house-details-right li{
    float: left;
    line-height: 30px;
    margin: 0;
    padding: 9px;
    text-align: center;
    width: 50%;
    }
.tab-content #schedule-house{padding-top:5px;}
.visit-count
{
    background-color:#fff;  
    border:1px #ccc solid; 
    border-radius:50%;
    height:60px;
    width:60px;
    padding: 5px;
}
.visit-count p span{color:#684900; font-size:14px;font-weight:600;}

#new_visit_schedule input[type="text"],#new_visit_schedule input[type="email"],#new_visit_schedule input[type="number"] {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px #eee solid;
    border-radius: 0;
    font-weight: 500;
    height: 40px ;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}
#visit_schedule_date,#visit_schedule_time{height:40px;}
.subpanel {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    position: relative;
    margin:10px;
}
.house-overview {
    display: table;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
.house-overview-item {
    border-color: rgba(211, 211, 211, 0.6);
    border-left: 1px solid rgba(211, 211, 211, 0.6);
    box-sizing: border-box;
    display: table-cell;
    padding: 0 5px;
    width: 20%;
}
.house-overview-title::before, .house-overview-title::after {
    content: "";
    display: table;
    line-height: 0;
}
.house-overview-body {
    color: #212121;
    font-size: 20px;
    padding: 4px 0;
}
.owner-detail{margin-top:10px; border:1px #ccc solid; }
.owner-image{width:76px;height:76px;padding: 10px;}
.owner-name{margin-top:5px;}
#house-amenities{border:1px #ccc solid; margin: -5px;}
.amenities-list{padding:10px;}
.house-rule{border:1px #ccc solid;  margin-top: 10px;}
.house-desc{border:1px #ccc solid;}
.house-rent-detail{border:1px #ccc solid; margin:10px -5px; text-align:center;}
 .house-rent-detail .col-xs-6{border-left: 1px solid #ccc;}
.similar-house-price
{
    background-color:RGBA(0, 0, 0, 0.48);
    bottom: 20%;
    position: absolute;
    color: #fff;
    padding: 10px;
    font-size: 18px;
}
.hwname
{
    background-color:RGBA(0, 0, 0, 0.48);
}
.hwname h4{color: #ec1818;}
.customer-story{border:1px #ccc solid;  margin: 10px -15px;padding:10px;}
.house-rent h5{text-align:center; font-size:16px;}
.hw-detail{border:1px #ccc solid;  margin: 10px -15px; padding: 10px;}
/******Profile Page*******/
.bg-custom{background: #e0efeb none repeat scroll 0 0 / cover ;}
.after-radio{position: absolute;margin-left: 10px;}
.sidebar-left-custom{border-right:#ccc 1px solid;}
.li-dashboard ,.li-dashboard .sidebar-btn{
    background-color: #ccc;
    margin: 2px 0;
    padding: 5px 0;
}


.dashboard-header{border:1px #ccc solid;}
.house-detail-table{border:1px #ccc solid;padding:10px;margin:10px;}

.att{text-align:left;}
.att-title
{
    color: #212121;
    padding: 10px 0 10px 10px;
    text-align: right;
}


/***********Tenant-page*************/
.tenat-payment,.tenat-wishlist
{
	border: #ccc 1px solid;
	padding:10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	border-radius: 2px;
}

/***********Tenant-page*************/

.owner-my-house{border:1px #ccc solid;padding: 20px;}

.edit_tenant_profile input[type="text"],.edit_tenant_profile  input[type="email"],.edit_tenant_profile  input[type="file"],.edit_tenant_profile  input[type="number"],.edit_tenant_profile  input[type="password"]
{
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px #eee solid;
    border-radius: 0;
    font-weight: 500;
    height: 40px ;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}
@media(min-width:767px){
    .personal-details, .banking-details,.emergency-details, .employment-details{margin:10px 0; border-left:1px #ccc solid;padding-left: 25px;}
}

/******MAP*******/
.marker-info-window{overflow:hidden;}
.marker-info-text{margin-bottom:0;}
.marker-info-detail{margin-left:5px;float:right; }
.marker-info-house-for{background-color:#47B475;width: 75px; color:#fff;}

/********Search**********/
.searchbar-top{background-color:#ccc;}
.list-div{
    overflow-y: scroll;
    max-height: 500px;
}
.search-form-div #city,.search-form-div #gender,.search-form-div .search-house-btn,.search-form-div #search-location{height:40px;}
#gmap{border:1px #ccc solid; padding:0px;}
/**********BrowseHouse***********/
.house-listing{border:1px #ccc solid;padding:5px;margin:1px 0px 10px 0px;}
.img-house-tiny{max-height:100%;display:cover center center;}
.house-thumb{margin-bottom:10px;}
/********REGISTRATION**********/
.edit-registration{border:1px #ccc solid;padding: 20px;}

.edit-registration input[type="text"],
.edit-registration input[type="password"],
.edit-registration input[type="email"],
.edit-registration input[type="number"] 
{
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px #eee solid;
    border-radius: 0;
    font-weight: 500;
    height: 40px ;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
}

/*****PAYMENT******/
.payment-widget-content,.chosen-move-in-date,.payment-widget-card,#movein-popup,.confirmation-widget{background-color: #ffffff;border-radius: 1px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);box-sizing: border-box;}
.payment-widget-content,.chosen-move-in-date,.payment-widget-card,#movein-popup,{margin:10px; padding: 0 15px;}
.choose-bed-widget input[type="radio"], .choose-bed-widget input[type="checkbox"] {
    display: none;
}
.choose-bed-widget input[type="radio"]:checked + label, .choose-bed-widget input[type="checkbox"]:checked + label {
    background-image: none;
    box-shadow: none !important;
    color: #00a8a1;
}
.choose-bed-widget .ti-layout-cta-left{font-size:32px;}
.roomtype {
    border-top: 1px solid #ddd;
    width: 100%;
}
.bed-type-btn {
    background-color: #fff;
    border-right: 1px solid #ddd;
    cursor: pointer;
    padding: 14px;
    text-align: center;
}

.payment-gender-choose{text-align:center; font-size:16px; display:block;padding:10px 0;}
.move-date-widget{margin:15px 0px; margin-right: 0px;}
.move-date-widget .pe-7s-date{font-size:40px; margin-right:-10px;}
.hasDatepicker{margin-left:-10px; color:#000;  border: 1px solid #ccc !important;}
.error-date{color:#fc2208; font-size:16px; padding:10px; text-align:center;}
.panel-heading{background-color:#47B475 !important; border-radius:0px !important;}
.panel{border-radius:0px !important;}
.panel-title{text-transform:uppercase;}
.panel-title a:hover{color:#fff;}
#house-detail h5,#house-detail h6{margin-bottom:5px !important;}
#house-detail img{min-height:200px !important; max-height:300px !important;}
.detail-table tr td {font-weight:300; font-size:14px;}
.bed-submit{height:40px !important; line-height: 40px !important;}
.token-widget,.details-widget{padding: 5px 15px;}
